.icon-sort {
    font-size: 12px;
    margin-left: 3px;
}

.pagination {
    margin: unset;
}

div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
